.normal {font-family: Tahoma; font-size: 15px; color: black}
.normal_medium {font-family: Tahoma; font-size: 15px; color: black}
.normal_cite {font-family: Tahoma; font-size: 16px; color: black}
.normal_cite_roman {font-family: Times New Roman; font-size: 18px; color: black}
.normal_small {font-family: Tahoma; font-size: 14px; color: black}
.normal_big {font-family: Tahoma; font-size: 20px; color: black}
.small {font-family: Arial; font-size: 12px; color: grey}
.imghref {border: 0px}
.over {text-decoration: overline}
.tahoma {font-family: Tahoma}

a     {color: #3333DD;}
a:hover {color: black; text-decoration: none; border-bottom: 1px dashed black; border-right: 0px; border-left: 0px}
a:hover.no_decor{text-decoration: none; border: 0px;}

.table {border-right: 1px solid black; width: 0px; font-family: Tahoma; font-size: 15px}
.table2 {border-right: 1px solid black; width: 0px; text-align: right}
.table_standart {border: 1px solid black; border-right: 0px; border-bottom: 0px; border-spacing: 0}
.table_dotted {border: 1px dotted black; border-spacing: 0; border-color: #8B0000}
.table_small {border: 1px solid black; border-right: 0px; border-bottom: 0px; border-spacing: 0; height: 50px; width: 150px}


.table_general {font-family: Tahoma; font-size: 18px; border: 0px black solid; border-spacing: 0; width: 100%}
.td_lightblue {background-color: #BEE9F7; border: 0px solid black; text-align: center; color: black}
.td_lightblue_2 {border: 1px solid black; border-top: 0px; background-color: #ADD8E6; font-size: 16px}
.td_lightblue_3 {border: 1px solid black; background-color: #ADD8E6; font-size: 16px; height: 30px}
.td_lightgreen {background-color: #BEEFBE; border: 0px solid black; text-align: center; color: black}
.td_lightgreen_3 {border: 1px solid black; background-color: #ADDFAD; font-size: 16px; height: 30px}
.td_lightorange {background-color: #F4F6BC; border: 0px solid black; text-align: center; color: black}
.td_lightorange_2 {border: 1px solid black; border-top: 0px; background-color: #F3E5AB; font-size: 16px}
.td_lightorange_3 {border: 1px solid black; background-color: #F3E5AB; font-size: 16px; height: 30px}


.td_add_menu{font-family: Tahoma; font-size: 15px; color: black; border-bottom: 1px solid white}


.table_n {font-family: Tahoma; font-size: 12px; border: 0px black solid}
.table_n_100 {font-family: Tahoma; font-size: 12px; border: 0px black solid; width: 100%}
.td {border: 1px solid black; border-top: 0px; background-color: white}
.tdmus {color: #7d604e; border-bottom: 1px solid gray; vertical-align: middle; width: 20%}
.tdmusadd {border-bottom: 1px dotted black; vertical-align: middle}
.tdhead {background-color: lightgray; border: 1px solid black; font-family: Tahoma; height: 30px}
.td_nohead {background-color: lightgray; border: 1px solid black; border-top: 0px; font-family: Tahoma; height: 30px}
.tdgray {background-color: white; border: 0px solid black; text-align: center; color: black}
.tdlightgray {background-color: #555555; border: 1px solid black}
.input {height: 25px; width: 300px}
.submit {height: 25px; width: 70px}
.big {font-size: 15px; font-family: Georgia}


.table_lightgreen_small {background-color: #90EE90; width: 100%; border-spacing: 0}
.table_empty {width: 150px}
.td_center {text-align:center}
.td_center-left {text-align:center; align: left}
.td_right {align: right}
.table_nospace {border-spacing: 0px}



.form_big{width: 100%; height: 35px; font-family: Tahoma; font-size: 17px}
.form_big_very{width: 100%; height: 50px; font-family: Tahoma; font-size: 25px}


.td1 {border-bottom: 1px solid black; border-right: 1px solid black}
.td1green 	{border-bottom: 1px solid black; border-right: 1px solid black; font-family: Cambria; font-size: 20px; background-color: #B1EDBC; text-align: center; width: 400px; height: 35px}
.td1blue 	{border-bottom: 1px solid black; border-right: 1px solid black; font-family: Cambria; font-size: 18px; background-color: #A0D1FF; text-align: center; width: 450px}
.td1bluesmall   {border-bottom: 1px solid black; border-right: 1px solid black; font-family: Cambria; font-size: 18px; background-color: #A0D1FF; text-align: center; width: 30px}
.td1white   	{border-bottom: 1px solid black; border-right: 1px solid black; font-family: Cambria; font-size: 18px; background-color: white; text-align: center; width: 30px; height: 30px}
.hr {border:none; background: black; height:1px; width: 30%}
.hr_gray {border:none; background: #CCCCCC; height:1px; width: 100%}
.hrdotted {border: 1px dashed gray; border-top: 0px; width: 100%}
.hr-big {border: 1px solid black; border-top: 0px; width: 100%}
.hr-left {border: 1px dashed black; border-top: 0px; width: 30%}